@font-face {
  font-family: 'DINPro-Regular';
  src: url('assets/fonts/DINPro-Regular_13937.eot');
  src: local('☺'), url('assets/fonts/DINPro-Regular_13937.woff') format('woff'), url('assets/fonts/DINPro-Regular_13937.ttf') format('truetype'), url('assets/fonts/DINPro-Regular_13937.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINBold';
  src: url('assets/fonts/din-bold-webfont.eot');
  src: url('assets/fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/din-bold-webfont.woff') format('woff'), url('assets/fonts/din-bold-webfont.ttf') format('truetype'), url('assets/fonts/din-bold-webfont.svg#DINBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('assets/fonts/Proxima Nova Semibold.eot');
  src: url('assets/fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Proxima Nova Semibold.woff2') format('woff2'), url('assets/fonts/Proxima Nova Semibold.woff') format('woff'), url('assets/fonts/Proxima Nova Semibold.ttf') format('truetype'), url('assets/fonts/Proxima Nova Semibold.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltthin';
  src: url('assets/fonts/Proxima Nova Thin.eot');
  src: url('assets/fonts/Proxima Nova Thin.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Proxima Nova Thin.woff2') format('woff2'), url('assets/fonts/Proxima Nova Thin.woff') format('woff'), url('assets/fonts/Proxima Nova Thin.ttf') format('truetype'), url('assets/fonts/Proxima Nova Thin.svg#proxima_nova_ltthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('assets/fonts/ProximaNova-Regular.eot');
  src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/ProximaNova-Regular.woff') format('woff'), url('assets/fonts/ProximaNova-Regular.ttf') format('truetype'), url('assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mm-socmed';
  src: url('assets/fonts/mm-socmed.eot?hkphut');
  src: url('assets/fonts/mm-socmed.eot?hkphut#iefix') format('embedded-opentype'), url('assets/fonts/mm-socmed.ttf?hkphut') format('truetype'), url('assets/fonts/mm-socmed.woff?hkphut') format('woff'), url('assets/fonts/mm-socmed.svg?hkphut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mm-socmed' !important;
  speak: none;
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-if_facebook_circle .path1:before {
  content: "\e900";
  color: #4e71a8;
}
.icon-if_facebook_circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_instagram_circle .path1:before {
  content: "\e902";
  color: #e53569;
}
.icon-if_instagram_circle .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_linkedin_circle .path1:before {
  content: "\e904";
  color: #1686b0;
}
.icon-if_linkedin_circle .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: #ffffff;
}
.icon-if_pinterest_circle .path1:before {
  content: "\e906";
  color: #ca3737;
}
.icon-if_pinterest_circle .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: #ffffff;
}
.js .fouc,
.fouc {
  /* avoid fouc if js avail */
  visibility: hidden;
}
.no-js .fouc {
  visibility: visible;
}
/*
  Mixins
*/
/*
 Variables
*/
/* Primary Colors */
/* Secondary Colors */
/* width */
/* General CSS */
body {
  background-color: #ffffff;
  font-family: 'proxima_nova_ltthin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
body.stories,
body.white__theme {
  background-color: #ffffff;
}
.body-wrap.content {
  min-height: calc(100vh - 250px);
}
.container-fluid {
  margin: 0 auto;
  max-width: 1120px;
}
.skip-access {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
.breadcrumb {
  background-color: transparent;
  padding: 8px 15px 8px 0px;
}
.breadcrumb a {
  color: #2e2e2e;
  font-family: 'proxima_nova_regular';
  font-size: 16px;
}
.breadcrumb > .active {
  color: #2e2e2e;
  font-family: 'proxima_nova_regular';
  font-weight: bold;
}
.breadcrumb > li + li:before {
  color: #2e2e2e;
  content: ">";
  font-family: 'proxima_nova_regular';
  font-weight: normal;
  padding: 0 5px;
}
h1,
h2,
h3,
h4 {
  font-family: 'DINBold';
  text-transform: uppercase;
}
/** BUTTONS **/
/** FORM **/
textarea {
  resize: none;
}
textarea::-webkit-resizer {
  display: none;
}
/* Header CSS */
header {
  background-color: #ffffff;
}
/* Logo */
.wrapper-logo {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-logo img {
  max-width: 150px;
  width: 100%;
}
@media screen and (max-width: 1030px) and (min-width: 993px) {
  .col-md-2.wrapper-logo {
    width: 13%;
  }
  .col-md-10.main-navigation {
    top: 0;
    width: 87%;
  }
}
/* Header Menu*/
.navbar-brand {
  display: block;
  float: left;
  height: auto;
  padding: 10px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-header {
  padding: 10px 0;
  background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
}
@media screen and (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
.navbar-header .gov {
  padding: 20px 0px 0px;
}
.navbar-header .gov img {
  display: block;
}
.navbar-header .gov ul {
  float: right;
  margin: 6px 0 0;
  padding: 0;
}
.navbar-header .gov li {
  display: inline-block;
}
.navbar-header .gov li a {
  border-right: 1px solid #0A0A0A;
  color: #070707;
  font-weight: bold;
  font-size: 14px;
  padding: 0 5px;
}
.navbar-header .gov li:last-child a {
  border-right: 0px;
}
.navbar-collapse {
  margin-top: -6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #187261;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
  color: #ffffff;
  font-family: 'DINBold';
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ffec80;
  background-color: transparent;
}
.nav > li > a {
  margin: 0 10px;
  padding: 15px 0px;
}
.nav > li,
.nav > li > a {
  position: inherit;
}
.parenting-resources-page .navbar-default .navbar-nav > li.parenting > a,
.parenting-resources-page .navbar-default .navbar-nav > li.parenting > a:focus,
.parenting-resources-page .navbar-default .navbar-nav > li.parenting > a:hover {
  color: #ffec80;
  background-color: transparent;
}
.parenting-resources-page .top {
  background-color: #ebe7db;
}
.wrapper-submenu {
  display: none;
}
.wrapper-submenu ul {
  display: table;
  list-style: none;
  margin: 0px auto 0;
  padding-left: 0;
  text-align: center;
}
.wrapper-submenu ul li {
  display: table-cell;
  cursor: pointer;
  padding: 20px;
  vertical-align: top;
}
.wrapper-submenu ul li a {
  color: #2e2e2e;
  display: block;
  font-family: 'DINBold';
  font-size: 20px;
  text-transform: uppercase;
}
.wrapper-submenu ul li a:hover,
.wrapper-submenu ul li a:focus,
.wrapper-submenu ul li a:active,
.wrapper-submenu ul li a:visited {
  text-decoration: none;
}
.wrapper-submenu ul li a span {
  display: block;
  font-family: 'DINPro-Regular';
  font-size: 14px;
}
.wrapper-submenu ul li:hover,
.wrapper-submenu ul li.active {
  background-color: #187261;
}
.wrapper-submenu ul li:hover a,
.wrapper-submenu ul li.active a {
  color: #ffffff;
}
.parenting-resources-page .wrapper-submenu {
  display: block;
}
/* Search */
#btnsearch {
  background: transparent url(assets/images/search.png) no-repeat center center;
  color: #187261;
  font-size: 0;
  height: 30px;
  width: 58px;
}
#search {
  color: #666666;
  font-size: 16px;
  padding: 2px 6px;
}
.search-box {
  margin-top: 11px;
}
/* Footer CSS */
footer {
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
footer a:hover,
footer a:focus,
footer a:visited {
  color: #ffffff;
}
footer .footer-bottom {
  background-color: #007c66;
  padding: 20px 0px 42px;
}
footer .footer-bottom .copyright {
  font-size: 14px;
  float: left;
  line-height: 24px;
}
footer .footer-bottom .wrapper-footer-links {
  font-size: 16px;
  float: right;
  line-height: 19px;
}
footer .footer-bottom .wrapper-footer-links .footer-links {
  margin-top: 25px;
}
footer .footer-bottom .wrapper-footer-links .footer-links li {
  margin-right: 15px;
}
footer .footer-bottom .wrapper-footer-links .footer-links li:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 650px) {
  footer .footer-bottom .wrapper-footer-links {
    float: none;
  }
  footer .footer-bottom .wrapper-footer-links .footer-links {
    margin-bottom: 15px;
    margin-top: 0px;
  }
  footer .footer-bottom .wrapper-footer-links .footer-links li {
    margin-right: 15px;
  }
  footer .footer-bottom .wrapper-footer-links .footer-links li:last-child {
    margin-right: 0px;
  }
}
footer .footer-top {
  background-color: #94bc12;
  padding: 22px 0 20px;
}
footer .footer-top .footer-links {
  font-size: 16px;
  line-height: 16px;
  margin-top: 0px;
}
footer .footer-top .footer-links li {
  margin-right: 10px;
  padding-right: 15px;
  position: relative;
}
footer .footer-top .footer-links li:after {
  background-color: #b6d25e;
  content: "";
  height: 100%;
  position: absolute;
  right: 0px;
  width: 2px;
}
footer .footer-top .footer-links li:last-child {
  margin-right: 0px;
}
footer .footer-top .footer-links li:last-child:after {
  display: none;
}
footer ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
footer ul li {
  display: inline-block;
}
/* Home CSS */
/** Alert **/
.home-alert {
  background-color: #ffffe7;
  color: #666666;
  font-size: 14px;
  line-height: 18px;
  padding: 25px 22px;
}
.home-alert .text-alert {
  color: #ff0000;
  font-weight: bold;
}
.home-thumbnail {
  margin-bottom: 40px;
}
.home-thumbnail.left-side .content-thumbnail-wrapper-cta {
  background-color: #007c66;
}
.home-thumbnail.left-side h3 {
  color: #007c66;
  border-bottom: 5px solid #007c66;
  font-family: 'DINBold';
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.home-thumbnail.left-side h4 {
  color: #007c66;
  font-family: 'DINBold';
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.home-thumbnail.right-side .content-thumbnail-wrapper-cta {
  background-color: #ffedaa;
}
.home-thumbnail.right-side h3 {
  color: #bd5e00;
  border-bottom: 5px solid #ffedaa;
  font-family: 'DINBold';
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.home-thumbnail.right-side h4 {
  color: #bd5e00;
  font-family: 'DINBold';
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.home-thumbnail .content-thumbnail-copy {
  border-bottom: 1px solid #e1ded5;
  padding: 30px 22px;
}
.home-thumbnail .content-thumbnail-copy .desc {
  color: #2e2e2e;
}
.home-thumbnail .content-thumbnail-img {
  background-size: cover;
  background-position: center center;
  height: 207px;
}
.home-thumbnail .content-thumbnail-wrapper-cta {
  padding: 40px 20px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .home-thumbnail .content-thumbnail-wrapper-cta {
    padding: 10px;
  }
}
.home-thumbnail .content-thumbnail-wrapper-cta .btn-primary {
  background-color: #e67300;
  border-color: transparent;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(19, 19, 19, 0.61);
  -moz-box-shadow: 0px 3px 7px 0px rgba(19, 19, 19, 0.61);
  box-shadow: 0px 3px 7px 0px rgba(19, 19, 19, 0.61);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.home-thumbnail .content-thumbnail-wrapper-cta .btn {
  padding: 10px 22px;
}
@media screen and (max-width: 480px) {
  .home-thumbnail .content-thumbnail-wrapper-cta .btn {
    padding: 10px 0px;
    width: 90%;
  }
}
.home-thumbnail .content-thumbnail-wrapper-cta .btn-primary:focus,
.home-thumbnail .content-thumbnail-wrapper-cta .btn-primary:hover {
  color: #fff;
  background-color: #ce6c0a;
  border-color: transparent;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.home-thumbnail .wrapper-content-thumbnail {
  -webkit-box-shadow: 0px 3px 3px 0px #e7e7e7;
  -moz-box-shadow: 0px 3px 3px 0px #e7e7e7;
  box-shadow: 0px 3px 3px 0px #e7e7e7;
}
/* Life stage landing CSS */
.parenting-resources-page .lifestage-hero {
  margin-bottom: 50px;
}
.parenting-resources-page .lifestage-hero h2 {
  color: #2e2e2e;
}
.parenting-resources-page .lifestage-hero .hero {
  background-color: #187261;
  height: 325px;
  margin-bottom: 40px;
}
.parenting-resources-page .lifestage-hero .hero .hero-img {
  background-size: cover;
  background-position: center center;
  float: left;
  height: 325px;
  width: 60%;
}
.parenting-resources-page .lifestage-hero .hero .wrapper-hero-text {
  float: left;
  width: 40%;
}
@media screen and (max-width: 700px) {
  .parenting-resources-page .lifestage-hero .hero {
    height: auto;
  }
  .parenting-resources-page .lifestage-hero .hero .wrapper-hero-text,
  .parenting-resources-page .lifestage-hero .hero .hero-img {
    float: none;
    width: 100%;
  }
}
.parenting-resources-page .lifestage-hero .hero .hero-text {
  color: #ffffff;
  font-family: 'proxima_nova_regular';
  padding: 25px 24px;
}
.parenting-resources-page .lifestage-hero .hero .hero-text a {
  color: #ffffff;
}
.parenting-resources-page .lifestage-hero .hero .hero-text a:hover,
.parenting-resources-page .lifestage-hero .hero .hero-text a:focus,
.parenting-resources-page .lifestage-hero .hero .hero-text a:active,
.parenting-resources-page .lifestage-hero .hero .hero-text a:visited {
  color: #ffffff;
}
.parenting-resources-page .lifestage-hero .hero .hero-text h3 {
  color: #ffffff;
  font-size: 27px;
  margin-top: 0;
  text-transform: none;
}
.parenting-resources-page .lifestage-hero .hero .hero-text p {
  font-family: 'proxima_nova_regular';
}
.parenting-resources-page .lifestage-links {
  margin-bottom: 50px;
}
.parenting-resources-page .lifestage-links h3 {
  background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.parenting-resources-page .lifestage-links .links-title {
  color: #007c66;
  font-family: 'proxima_nova_ltsemibold';
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.parenting-resources-page .lifestage-links ul {
  list-style: none;
  padding-bottom: 20px;
  padding-left: 0px;
}
.parenting-resources-page .lifestage-links ul li {
  padding-bottom: 8px;
}
.parenting-resources-page .lifestage-links ul li a {
  color: #000000;
  font-family: 'proxima_nova_regular';
  font-size: 18px;
  line-height: 19px;
  position: relative;
  text-decoration: none;
}
.parenting-resources-page .lifestage-links ul li a:after {
  background-color: #d8d8d8;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}
