@font-face {
  font-family: 'DINPro-Regular';
  src: url('assets/fonts/DINPro-Regular_13937.eot');
  src: local('☺'), url('assets/fonts/DINPro-Regular_13937.woff') format('woff'), 
       url('assets/fonts/DINPro-Regular_13937.ttf') format('truetype'),
       url('assets/fonts/DINPro-Regular_13937.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'DINBold';
    src: url('assets/fonts/din-bold-webfont.eot');
    src: url('assets/fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/din-bold-webfont.woff') format('woff'),
         url('assets/fonts/din-bold-webfont.ttf') format('truetype'),
         url('assets/fonts/din-bold-webfont.svg#DINBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('assets/fonts/Proxima Nova Semibold.eot');
    src: url('assets/fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Proxima Nova Semibold.woff2') format('woff2'),
         url('assets/fonts/Proxima Nova Semibold.woff') format('woff'),
         url('assets/fonts/Proxima Nova Semibold.ttf') format('truetype'),
         url('assets/fonts/Proxima Nova Semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('assets/fonts/Proxima Nova Thin.eot');
    src: url('assets/fonts/Proxima Nova Thin.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Proxima Nova Thin.woff2') format('woff2'),
         url('assets/fonts/Proxima Nova Thin.woff') format('woff'),
         url('assets/fonts/Proxima Nova Thin.ttf') format('truetype'),
         url('assets/fonts/Proxima Nova Thin.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_regular';
  src: url('assets/fonts/ProximaNova-Regular.eot');
  src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mm-socmed';
  src:  url('assets/fonts/mm-socmed.eot?hkphut');
  src:  url('assets/fonts/mm-socmed.eot?hkphut#iefix') format('embedded-opentype'),
    url('assets/fonts/mm-socmed.ttf?hkphut') format('truetype'),
    url('assets/fonts/mm-socmed.woff?hkphut') format('woff'),
    url('assets/fonts/mm-socmed.svg?hkphut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mm-socmed' !important;
  speak: none;
  font-size: 27px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-if_facebook_circle .path1:before {
  content: "\e900";
  color: rgb(78, 113, 168);
}
.icon-if_facebook_circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-if_instagram_circle .path1:before {
  content: "\e902";
  color: rgb(229, 53, 105);
}
.icon-if_instagram_circle .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-if_linkedin_circle .path1:before {
  content: "\e904";
  color: rgb(22, 134, 176);
}
.icon-if_linkedin_circle .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-if_pinterest_circle .path1:before {
  content: "\e906";
  color: rgb(202, 55, 55);
}
.icon-if_pinterest_circle .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}