/* Header CSS */
header{
	background-color:@colorWhite;
}

/* Logo */
.wrapper-logo{
	display:inline-block;
	vertical-align:middle;
	img{
		max-width:150px;
		width: 100%;
	}
}
@media screen and (max-width:1030px) and (min-width:993px){
	.col-md-2.wrapper-logo{
		width:13%;
	}
	.col-md-10.main-navigation{
		top:0;
		width:87%;
	}
}

/* Header Menu*/
.navbar-brand {
    display: block;
    float: left;
    height: auto;
    padding: 10px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;

}

.navbar-header {
    padding: 10px 0;
    background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;

    @media screen and (min-width: 768px){
		float: none;
	}

	.gov{
		padding: 20px 0px 0px;
		img {
		    display: block;
		}
		ul {
		    float: right;
		    margin: 6px 0 0;
		    padding: 0;
		}

		li {
			display: inline-block;
			
			a {
			    border-right: 1px solid #0A0A0A;
			    color: #070707;
		    	font-weight: bold;
		    	font-size: 14px;
			    padding: 0 5px;
			    
			}
			&:last-child a{
				border-right: 0px;
			}
		}
	}


}

.navbar-collapse {
    margin-top: -6px;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #187261;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color:@colorWhite;
	font-family: 'DINBold';
	text-transform:uppercase;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #ffec80;
    background-color: transparent;
}



.nav>li>a {
    margin:0 10px;
    padding: 15px 0px;
}
.nav>li, .nav>li>a{
	position: inherit;
}
.parenting-resources-page {
	
	.navbar-default .navbar-nav>li.parenting>a,
	.navbar-default .navbar-nav>li.parenting>a:focus, 
	.navbar-default .navbar-nav>li.parenting>a:hover{
	    color: #ffec80;
	    background-color: transparent;
	}

	.top{
		background-color:#ebe7db;
	}
}
.wrapper-submenu{
	display:none;
	
	ul{
		display: table;
		list-style: none;
		margin: 0px auto 0;
	    padding-left: 0;
	    text-align: center;
	    
	    li{
	    	display:table-cell;
	    	cursor:pointer;
	    	padding:20px;
	    	vertical-align: top;
	    	
	    	a{
	    		color:#2e2e2e;
	    		display: block;
	    		font-family: 'DINBold';
	    		font-size:20px;
	    		text-transform:uppercase;
	    		&:hover,&:focus, &:active, &:visited{
	    			text-decoration:none;
	    		}
	    		span{
	    			display:block;
	    			font-family: 'DINPro-Regular';
	    			font-size:14px;
	    		}
	    	}

	    	&:hover, &.active{
	    		background-color:#187261;
	    		a{
	    			color:@colorWhite;
	    		}
	    	}
	    }
	}
	
}

.parenting-resources-page .wrapper-submenu{
	display:block;
}



/* Search */
#btnsearch{
	background:transparent url(assets/images/search.png) no-repeat center center;
	color:#187261;
	font-size:0;
	height:30px;
	width:58px;
}
#search{
	color:#666666;
	font-size:16px;
	padding:2px 6px;
}
.search-box{
	margin-top: 11px;
}