/* Home CSS */

/** Alert **/
.home-alert{
	background-color:#ffffe7;
	color:#666666;
	font-size:14px;
	line-height:18px;
	padding:25px 22px;
	.text-alert{
		color:#ff0000;
		font-weight:bold;
	}
}

.home-thumbnail{
	margin-bottom:40px;
	&.left-side{
		.content-thumbnail-wrapper-cta{
			background-color:#007c66;
		}
		h3{
			color:#007c66;
			border-bottom:5px solid #007c66;
			font-family: 'DINBold';
			font-size:24px;
			line-height:34px;
			margin-bottom:20px;
			padding-bottom:5px;
			text-transform:uppercase;
		}
		h4{
			color:#007c66;
			font-family: 'DINBold';
			font-size:23px;
			line-height:27px;
			margin-bottom:10px;
			text-transform:uppercase;
		}
	}

	&.right-side{
		.content-thumbnail-wrapper-cta{
			background-color:#ffedaa;
		}
		h3{
			color:#bd5e00;
			border-bottom:5px solid #ffedaa;
			font-family: 'DINBold';
			font-size:24px;
			line-height:34px;
			margin-bottom:20px;
			padding-bottom:5px;
			text-transform:uppercase;
		}
		h4{
			color:#bd5e00;
			font-family: 'DINBold';
			font-size:23px;
			line-height:27px;
			margin-bottom:10px;
			text-transform:uppercase;
		}
	}

	.content-thumbnail-copy{
		border-bottom:1px solid #e1ded5;
		padding:30px 22px;
		.desc{
			color:#2e2e2e;
		}
	}

	.content-thumbnail-img{
		background-size:cover;
		background-position: center center;
		height:207px;
	}
	.content-thumbnail-wrapper-cta{
		padding:40px 20px;
		text-align:center;

		@media screen and (max-width:480px){
			padding:10px;
		}

		.btn-primary{
			background-color: #e67300;
			border-color: transparent;
			.box-shadow (0px 3px 7px 0px rgba(19,19,19,0.61));
			font-size:18px;
			font-weight:700;
			text-transform:uppercase;
		}
		.btn{
			padding:10px 22px;
			@media screen and (max-width:480px){
				padding:10px 0px;
				width:90%;
			}
		}
		.btn-primary:focus,
		.btn-primary:hover{
		    color: #fff;
		    background-color: #ce6c0a;
		    border-color: transparent;
		    font-size:18px;
		    font-weight:bold;
		    text-transform:uppercase;
		}

	}

	.wrapper-content-thumbnail{
		.box-shadow (0px 3px 3px 0px rgba(231,231,231,1));
	}

}