/* Life stage landing CSS */

.parenting-resources-page{
	.lifestage-hero{
		margin-bottom:50px;
		h2{
			color:#2e2e2e;
		}
		.hero{
			background-color:#187261;
			height:325px;
			margin-bottom:40px;
			
			.hero-img{
				background-size:cover;
				background-position: center center;
				float: left;
				height:325px;
				width:60%;

			}
			.wrapper-hero-text{
				float: left;
				width:40%;
				
			}

			@media screen and (max-width:700px){
				height:auto;
				.wrapper-hero-text, .hero-img{
					float: none;
					width:100%;
				}
			}

			.hero-text{
				color:@colorWhite;
				font-family: 'proxima_nova_regular';
				padding:25px 24px;
				a{
					color:@colorWhite;
					&:hover, &:focus, &:active, &:visited{
						color:@colorWhite;
					} 
				}
				h3{
					color:@colorWhite;
					font-size:27px;
					margin-top: 0;
					text-transform:none;
				}
				p{
					font-family: 'proxima_nova_regular';
				}
			}
		}
	}

	.lifestage-links{
		margin-bottom: 50px;
		h3{
			background: #fff url(assets/images/colored-brdrline.png) repeat-x 0 bottom;
    		margin-bottom: 50px;
    		padding-bottom: 20px;
		}
		.links-title{
			color:#007c66;
			font-family: 'proxima_nova_ltsemibold';
			font-size:18px;
			font-weight:normal;
			line-height:22px;
			padding-bottom:8px;
			text-transform:uppercase;
		}
		ul{
			list-style:none;
			padding-bottom:20px;
			padding-left:0px;
			li{
				padding-bottom:8px;
				a{
					color:#000000;
					font-family: 'proxima_nova_regular';
					font-size:18px;
					line-height:19px;
					position:relative;
					text-decoration:none;
					&:after{
						background-color:#d8d8d8;
						content:"";
						display:block;
						height:1px;
						position:absolute;
						width:100%;
					}
				}
			}
		}
	}

}