/* General CSS */

body{
	background-color:@colorWhite;
	font-family: 'proxima_nova_ltthin', sans-serif;
	font-size:16px;
	font-weight: 400;
    font-style: normal;

    &.stories, &.white__theme{
		background-color:@colorWhite;
	}
}


.body-wrap.content{
    min-height: ~"calc(100vh - 250px)";
	
}
.container-fluid{
	margin:0 auto;
	max-width:1120px;
}

.skip-access {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.breadcrumb {
	
    background-color: transparent;
    padding: 8px 15px 8px 0px;

    a{
    	color:#2e2e2e;
    	font-family: 'proxima_nova_regular';
    	font-size:16px;
    }
    &>.active {
	    color: #2e2e2e;
	    font-family: 'proxima_nova_regular';
	    font-weight:bold;
	}

	&>li+li:before {
	    color: #2e2e2e;
	    content: ">";
	    font-family: 'proxima_nova_regular';
	    font-weight: normal;
	    padding: 0 5px;
	}
    
}

h1, h2, h3, h4{
	font-family: 'DINBold';
	text-transform:uppercase;
}


/** BUTTONS **/




/** FORM **/
textarea{
	resize: none;
}
textarea::-webkit-resizer {
  display: none;
}

