<!--[if lt IE 9]>
	<script type="text/javascript" src="Assets/js/Lib/html5shiv-printshiv.js"></script>
<![endif]-->

<script type="text/javascript" src="assets/js/lib.js"></script>

<!-- <script type="text/javascript" src="Assets/Scripts/common.js"></script> -->

<script type="text/javascript" src="assets/js/content.min.js"></script>