<!-- Footer -->

<footer>
    <div class="footer-top">
      <div class="container-fluid">
        <ul class="horizontal footer-links">
          <li><a href="forms">Forms</a></li>

          <li><a href="useful-links">Useful Links</a></li>

          <li><a href="publications">Publications</a></li>

          <li><a href="press">Press</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container-fluid">

        <div class="wrapper-footer-links">
          <ul class="footer-links">
            <li><a href="privacy-statement">Privacy Statement</a></li>

            <li><a href="terms-of-use">Terms of Use</a></li>

            <li><a href="https://www.jusfeedback.asia/Community/se.ashx?s=7FDA9EA723A5704F&amp;Agency=MSF.HQ&amp;Svc=Baby%20Bonus&amp;eLnk=http://www.babybonus.msf.gov.sg/parent/%20&amp;Cat=Citizen">Rate this website</a></li>
          </ul>
        </div>

        <div class="copyright">
          <div>Last Updated on 1<sup>st</sup> September 2017</div>
          <div>© &nbsp;<script type="text/javascript">
    document.write(new Date().getFullYear())
          </script>&nbsp; Government of Singapore</div>
        </div>

        
      </div>
    </div>
</footer>