<!--
Header
-->
<header>
<div class="navbar navbar-default">
  <div id="sectionTopBar">
  

    <div class="navbar-header">
      <div class="container-fluid">
        <div class="pull-left logo-wrap">
          <a class="navbar-brand msf" href="http://app.msf.gov.sg/">
            <img alt="MSF" src="assets/images/logo-msf.png" title="MSF">
          </a>
          <a class="navbar-brand logo" href="home">
            <img alt="Baby Bonus" src="assets/images/logo.png" title="Baby Bonus">
          </a>
        </div>

        <div class="pull-right gov">
          <a href="http://www.gov.sg" target="_blank"><img alt="Singapore Government" src="assets/images/logo-sg-gov.png" title="Singapore Government"></a>

          <ul class="horizontal">
            <li><a href="https://www.babybonus.msf.gov.sg/contact-info">Contact Info</a></li>

            <li><a href="https://www.msf.gov.sg/_layouts/feedback.aspx" id="feedbackurl" name="feedbackurl" target="_blank">Feedback</a></li>

            <li><a href="https://www.babybonus.msf.gov.sg/sitemap">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="top">
      <div class="container-fluid">

        <div class="navbar-collapse">
          <form action="https://www.google.com/search" id="f1" method="get" name="f1" target="_blank">
            <ul class="nav navbar-nav navbar-right search-box">
              <li><input class="search" id="search" name="q" type="text" placeholder="Search"></li>

              <li><input class="btn btn primary" id="btnsearch" type="submit"></li>

              <li><input name="cx" type="hidden" value="017739792885581001613:hfvmbzv_wos"></li>
            </ul>
          </form>

          <ul class="nav navbar-nav navbar-left main-menu">
            <li><a href="index.shtml">Home</a></li>

            <li><a href="https://www.babybonus.msf.gov.sg/parent/web/about" target="_blank">About</a></li>
            <li class="parenting">
              <a href="page-parenting-resources.shtml">Parenting Resources</a>
            </li>
            <li><a href="https://www.babybonus.msf.gov.sg/parent/web/services" target="_blank">Services</a></li>
            <li><a href="https://www.babybonus.msf.gov.sg/ai-home/xhtml/layout/ListOfAI.faces" id="ailisttagurl" name="ailisttagurl" target="_blank">Approved Institutions</a></li>
            <li><a href="https://va.ecitizen.gov.sg/cfp/customerpages/msf/bb/explorefaq.aspx" id="faqtagurl" name="faqtagurl" target="_blank">Faq</a></li>
          </ul>

        </div>

        <!-- sub menu -->
          <div class="wrapper-submenu">
            <ul class="submenu">
              <li>
                <a href="page-lifestage-pregnancy.shtml">Pregnancy</a>
              </li>
              <li>
                <a href="page-lifestage-newborn.shtml">Newborn<span>0 - 2 Months</span></a>
              </li>
              <li>
                <a href="page-lifestage-babies.shtml">babies<span>3 - 12 Months</span></a>
              </li>

              <li>
                <a href="page-lifestage-toddlers.shtml">toddlers<span>1 - 4 Years</span></a>
              </li>

              <li>
                <a href="page-lifestage-young-children.shtml">Young children<span>5 - 6 Years</span></a>
              </li>
              <li>
                <a href="page-lifestage-special-needs.shtml">special needs</a>
              </li>

              
            </ul>
          </div>
        <!--// sub menu -->

      </div>

      
    </div>
  </div>
</div>

</header>



